# =========================================
# PYTHON
# =========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================================
# VIRTUAL ENVIRONMENT
# =========================================
venv/
.env/

# =========================================
# FLASK
# =========================================
instance/
*.db
*.sqlite3

# =========================================
# ENV VARIABLES
# =========================================
.env
.env.*

# =========================================
# VS CODE
# =========================================
.vscode/

# =========================================
# PYTEST
# =========================================
.pytest_cache/
.coverage
htmlcov/

# =========================================
# UPLOADS
# =========================================
static/uploads/
static/uploads/*
!static/uploads/.gitkeep
# =========================================
# OS FILES
# =========================================
.DS_Store
Thumbs.db